<a href="https://colab.research.google.com/github/suchith1012/AOML_Project/blob/main/AOML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import numpy as np

In [80]:
O_data=pd.read_excel('/content/resume_data.xlsx')

In [81]:
O_data

                                            Resume_title  ...                             Additional Information
0                                         Java Developer  ...  \nTechnical Expertise \nâ€¢ Operating Systems:...
1                                     Software Developer  ...                                               NONE
2                                         Java developer  ...  \nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp...
3      Seeking innovative and challenging career assi...  ...                                               NONE
4                                                   NONE  ...                                               NONE
...                                                  ...  ...                                                ...
14801            Back Office Operations & HR Coordinator  ...  \nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14802                                               NONE  ...  \nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14803                                               NONE  ...  \nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14804                                               NONE  ...  \nStrengths and Core Competencies \n \nâ€¢ Kno...
14805                                               NONE  ...  \nKey Skills \n \nâž¢ Good communication and l...

[14806 rows x 10 columns]

In [82]:
O_data.describe()

       Resume_title       City  ... Certificates Additional Information
count         14800      14800  ...        14798                  14798
unique         3381        801  ...         1135                   6082
top            NONE  Bengaluru  ...           {}                   NONE
freq           8028       2044  ...        13077                   5940

[4 rows x 10 columns]

# Text Preprocessing

### Convert text to lowercase

In [83]:
O_data.astype('str')

                                            Resume_title  ...                             Additional Information
0                                         Java Developer  ...  \nTechnical Expertise \nâ€¢ Operating Systems:...
1                                     Software Developer  ...                                               NONE
2                                         Java developer  ...  \nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp...
3      Seeking innovative and challenging career assi...  ...                                               NONE
4                                                   NONE  ...                                               NONE
...                                                  ...  ...                                                ...
14801            Back Office Operations & HR Coordinator  ...  \nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
14802                                               NONE  ...  \nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
14803                                               NONE  ...  \nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
14804                                               NONE  ...  \nStrengths and Core Competencies \n \nâ€¢ Kno...
14805                                               NONE  ...  \nKey Skills \n \nâž¢ Good communication and l...

[14806 rows x 10 columns]

In [84]:
def lower_string(label):
  O_data[label]=O_data[label].str.lower()

In [85]:
for i in list(O_data.columns):
  lower_string(i)

### Removal of stopwords

In [86]:
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))