<a href="https://colab.research.google.com/github/suchith1012/AOML_Project/blob/main/AOML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [6]:
ori_data=pd.read_excel('/content/resume_data.xlsx', index_col=0)

In [11]:
ori_data

                                                         City  ...                             Additional Information
Resume_title                                                   ...
Java Developer                                          Tirur  ...  \nTechnical Expertise \nâ€¢ Operating Systems:...
Software Developer                                  Bengaluru  ...                                               NONE
Java developer                                           Pune  ...  \nTECHNICAL SKILLS \n \nFrameworks: Spring, Sp...
Seeking innovative and challenging career assig...       Pune  ...                                               NONE
NONE                                                     Pune  ...                                               NONE
...                                                       ...  ...                                                ...
Back Office Operations & HR Coordinator               Calicut  ...  \nISO 9001:2015 QMS LLYOD REGISTER CERTIFIED \...
NONE                                                     NONE  ...  \nCOMPUTER PROFICIENCY \n \nApplications \nAcc...
NONE                                                 Durgapur  ...  \nYEAR OF \nDEGREE/CERTIFICATE INSTITUTION % O...
NONE                                                     NONE  ...  \nStrengths and Core Competencies \n \nâ€¢ Kno...
NONE                                                   Howrah  ...  \nKey Skills \n \nâž¢ Good communication and l...

[14806 rows x 9 columns]